<a name="programma"></a>
<section class="alpha_24">
  <div class="container group">
    <h3 class="center">Il programma</h3>
    <table id="schedule" border="0" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>
            Time
          </th>
          <th>
            Track 1
          </th>

        </tr>
      </thead>
      <tr class="common_event">
        <td class="time">09:00 &ndash; 09:30</td>
        <td><h4><a href="#" title="">Check-in</a></h4></td>
      </tr>

      <tr class="common_event">
        <td class="time">09:30 &ndash; 09:45</td>
        <td>
            <h4><a href="#" title="">Introduzione PugMi e GrUSP</a></h4>
            <a href="http://twitter.com/aleinside" title="Alessandro Nuzzo">Alessandro Nuzzo - @aleinside</a><br />
            <a href="http://www.slideshare.net/aleinside/zfday-introduzione" title="Introduzione" class="slides">Slide</a>

        </td>
      </tr>

      <tr class="common_event">
        <td class="time">09:45 &ndash; 10:00</td>
        <td>
            <h4><a href="#" title="">Zend Framework 2 - Lo stato dell'arte</a></h4>
            <a href="http://twitter.com/ezimuel" title="Enrico Zimuel">Enrico Zimuel - @ezimuel</a><br />
<!--                          <a href="#" title="" class="slides">Slide</a> -->

        </td>
      </tr>


      <tr class="common_event">
        <td class="time">10:05 &ndash; 10:50</td>
        <td>
            <h4><a href="#" onclick="javascript:return(false);" rel="tooltip" title="Zend Framework 2 non è l'evoluzione di ZF, ma un progetto nuovo: il codice è stato riscritto e poche sono le parti in comune con la versione precedente. Lo sviluppatore abituato a ZF1 non ha vita facile, ed è fondato il timore di dover imparare tutto da capo. In questo talk vedremo come cambiare le vecchie abitudini di sviluppatori ZF1, per sfruttare al meglio le potenzialità del nuovo strumento. Attraverso esempi concreti, in cui vedremo all'opera i nuovi pattern e le best practice, mostreremo come - partendo con il piede giusto - il passaggio a ZF2 possa essere meno traumatico del previsto. Il talk è orientato soprattutto a chi già conosce ZF1, ma gli argomenti affrontati possono essere utili anche a chi si avvicina a ZF per la prima volta.">Fare con Zend Framework 2 ciò che facevo con ZF1</a></h4>
            <a href="http://twitter.com/maraspin" title="Steve Maraspin">Steve Maraspin - @maraspin</a><br />
<a href="http://www.slideshare.net/maraspin/zend-framework-2-da-zf-1" title="" class="slides">Slide</a> 
        </td>
      </tr>

      <tr class="break">
        <td class="time">10:50 &ndash; 11:05</td>
        <td>
          <h4><strong>Pausa</strong></h4>
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">11:05 &ndash; 11:35</td>
        <td>
            <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip"  title="Negli ultimi mesi ho avuto modo di lavorare con Zend Framework 2. Per me è stata la prima esperienza di un certo peso dentro il mondo Zend venendo dal mondo Symfony. In questa presentazione vorrei fare un confronto 'alle differenze' tra i due framework PHP di seconda generazione più in voga al momento, partendo dal punto di vista di chi conosce Symfony2 (e che quindi ha già in mente concetti come dependency injection e servizi), mettendo in evidenza punti comuni, differenze, possibilità di integrazione">Zend Framework 2 per chi viene da Symfony2</a></h4>
            <a href="http://twitter.com/_orso_" title="Michele Orselli">Michele Orselli - @_orso_</a><br />
<a href="http://www.slideshare.net/MicheleOrselli/sf2zf2" title="" class="slides">Slide</a>

        </td>
      </tr>


      <tr class="common_event">
        <td class="time">11:40 &ndash; 12:25</td>
        <td>
            <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip" title="Verranno introdotti i motivi per cui utilizzare o meno Doctrine 2 ORM, alcune delle sue funzionalità di base e successivamente come installare e configurare Doctrine 2 ORM per l'utilizzo in un'applicazione basata su Zend\Mvc. Successivamente saranno presentate le varie funzionalità di DoctrineModule, tra cui: * Validatori * Autenticazione * Form * Cache * Paginator * CLI Tools * Integrazione con ZendDeveloperTools Verranno inoltre descritte molte delle best-practices da impiegare durante lo sviluppo di un'applicazione basata su DoctrineModule.">Doctrine 2 ORM e Zend Framework 2: un'introduzione a DoctrineModule</a></h4>
            <a href="http://twitter.com/ocramius" title="Marco Pivetta">Marco Pivetta - @ocramius</a><br />
<a href="http://marco-pivetta.com/doctrine-orm-zf2-tutorial/#/" title="" class="slides">Slide</a>

        </td>
      </tr>

      <tr class="common_event">
        <td class="time">12:30 &ndash; 13:00</td>
        <td>
            <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip" title="Come realizzare un modulo REST con ZF2">Creare moduli RESTful con Zend Framework 2</a></h4>
            <a href="http://twitter.com/walterdalmut" title="walter dal mut">Walter Dal Mut - @walterdalmut</a><br />
<a href="http://www.slideshare.net/corleycloud/res-tful-modules-in-zf2" title="" class="slides">Slide</a>
        </td>
      </tr>

      <tr class="break lunch">
      <td class="time">13:00 &ndash; 14:15</td>

        <td><h4><strong>Pranzo</strong></h4></td>
      </tr>

      <tr class="common_event">
        <td class="time">14:15 &ndash; 14:45</td>
        <td>
            <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip" title="Avere URL pulite e ben strutturate è molto importante, sia da un punto di vista SEO, che di organizzazione delle proprie API. In Zend Framework 2 è il router ad occuparsi di gestire le richieste http, di delegare l'esecuzione delle stesse all'opportuno frammento di codice sorgente, e quindi di estrarne gli eventuali parametri. Questo talk introdurrà le potenti funzionalità del nuovo sistema di routing di ZF2. Grazie a esempi reali (con gestione di richiestte http, ma anche CLI), sarete in grado di utilizzare il nuovo router di ZF2 in tutta la sua flessibilità.">Levate l'ancora! Rotte senza problemi con ZF2</a></h4>
            <a href="http://twitter.com/drigani" title="Diego Drigani">Diego Drigani - @drigani</a><br />
<a href="http://www.slideshare.net/drigani/levate-lancora-rotte-senza-problemi-con-zf2" title="" class="slides">Slide</a> 
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">14:50 &ndash; 15:20</td>
        <td>
            <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip" title="Come organizzo il mio modello, se le entità di base sono condivise tra più moduli? La mia applicazione ha anche un pannello amministrativo: dove metto viste e file del front-end? Come gestisco le eventuali dipendenze esterne? In questo talk cercherò di rispondere a queste e altre domande relative all'organizzazione di un progetto ZF2, condividendo la mia esperienza pratica, i dubbi che mi sono posto, e le soluzioni che ho adottato. Non sempre le risposte sono state scontate, a maggior ragione dato che - quale sviluppatore ZF1 - non ero abituato all'uso dei moduli - così come intesi in ZF2. L'introduzione degli stessi può rappresentare una vera e propria svolta; è però fondamentale organizzare opportunamente il proprio progetto, dato che le reali possibilità di riuso dipendono in buona parte proprio da una buona organizzazione del proprio codice.">Arrivano i moduli: come li sfruttiamo?</a></h4>
            <a href="http://twitter.com/stefanovalle" title="stefano valle">Stefano Valle - @stefanovalle</a><br />
<a href="http://www.slideshare.net/stefanovalle/moduli-zf2-come-li-sfruttiamo" title="" class="slides">Slide</a>
        </td>
      </tr>


      <tr class="break">
        <td class="time">15:20 &ndash; 15:35</td>
        <td>
          <h4><strong>Pausa</strong></h4>
        </td>
      </tr>


      <tr class="common_event">
        <td class="time">15:35 &ndash; 16:05</td>
        <td>
            <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip" title="In questo talk verranno presentate le novità di Zend Framework 2 per lo sviluppo di applicazioni web sicure. In particolare verranno illustrate alcune funzionalità di sicurezza, come la realizzazione di un sistema di login per l'autenticazione utente, l'implementazione di un sistema di autorizzazioni ACL o RBAC , il filtro dei dati in ingresso e l'escape dei dati in uscita, la memorizzazion sicura delle password degli utenti, etc.">Sviluppo di applicazioni web sicure con ZF2</a></h4>
            <a href="http://twitter.com/ezimuel" title="Enrico Zimuel">Enrico Zimuel - @ezimuel</a><br />
<a href="https://speakerdeck.com/ezimuel/sviluppo-di-applicazioni-web-sicure-con-zf2" title="" class="slides">Slide</a>

        </td>
      </tr>


      <tr class="common_event">
        <td class="time">16:10 &ndash; 16:40</td>
        <td>
            <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip" title="L'utilizzo di Zend Framework 1 all'interno del progetto Link, software usato da una 'fabbrica automobilistica torinese' per fornire servizi ai concessionari. Link è probabilmente il software in php più grande d'Europa con più di 6 milioni di righe di codice, nato nel 2003 utilizzando la versione 4 del linguaggio, Il talk illustrerà come negli anni si è passati dallo scriversi tutto in casa all'utilizzo dei moduli zend per abbassare i costi di sviluppo, migliorare la scalabilità e limitare le anomalie.">Case study: un approccio modulare in un progetto legacy</a></h4>
            <a href="http://twitter.com/martingiem" title="Mariano Fiorentino">Mariano Fiorentino - @martingiem</a><br />
<a href="http://www.slideshare.net/mariano_fiorentino/slideware-16344389" title="" class="slides">Slide</a>

        </td>
      </tr>

      <tr class="common_event">
        <td class="time">16:45</td>
        <td><h4><a href="#" title="">Chiusura</a></h4></td>
      </tr>
    </table>

  </div>

  <div class="separator"></div>
</section>