<section class="sponsors">
  <a name="sponsor"></a>
  <div class="container group">

<div class="container group">

{% if page.cfs %} 

    <div class="column_6 centered">
      <h3 class="center">Sponsorizza</h3>
      <p>Un grande evento è fatto anche di grandi sponsor, perché quindi non sfruttare l'occasione e contribuire alla conferenza?<br>
      <a href="mailto:info@grusp.org">Contattaci</a> per sapere come sponsorizzarci!</p>
    </div>
    <div class="clear"></div>

    <div class="column_4">
      <h4 class="gold">Gold</h4>
      <span class="euro btn">€ 1000</span>
      <ul class="benefit">
        <li>Banner sul sito</li>
        <li>Pubblicità nelle comunicazioni pre-evento</li>
        <li>Autorizzazione a portare pubblicità e gadget (ie. volantini, adesivi, magliette)</li>
        <li>Presenza logo sul programma stampato</li>
        <li>Posizionamento del vostro flyer nella sala</li>
        <li>3 biglietti gratuiti</li>
      </ul>
    </div>

    <div class="column_4">
      <h4 class="silver">Silver</h4>
      <span class="euro btn">€ 500</span>
      <ul class="benefit">
        <li>Banner sul sito</li>
        <li>Pubblicità nelle comunicazioni pre-evento</li>
        <li>Autorizzazione a portare pubblicità e gadget (ie. volantini, adesivi, magliette)</li>
        <li>Presenza logo sul programma stampato</li>
        <li>2 biglietti gratuiti</li>
      </ul>
    </div>

    <div class="column_4">
      <h4 class="bronze">Bronze</h4>
      <span class="euro btn">€ 300</span>
      <ul class="benefit">
        <li>Banner sul sito</li>
        <li>Autorizzazione a portare pubblicità e gadget (ie. volantini, adesivi, magliette)</li>
        <li>1 biglietto gratuito</li>
      </ul>
    </div>

    <div class="clear"></div>
  </div>

{% endif %}

  <h3>Gli Sponsor</h3>

  <div class="gold_sponsors">
    <h4 class="gold">Gold</h4>

    <div class="clear"></div>
  </div>

  <div class="silver_sponsors">
    <h4 class="silver">Silver</h4>
    
    <div class="clear"></div>
  </div>

  <div class="bronze_sponsors">
    <h4 class="bronze">Bronze</h4>

    <a class="banner" href="http://www.phpbestpractices.it" title="PHP best practices">
      <img src="/img/sponsors/sponsor_phpbestpractices.png" alt="sponsor PHP best practices" width="300" height="120" />
    </a>

    <a class="banner" href="http://www.jsbestpractices.it" title="PHP best practices">
      <img src="/img/sponsors/sponsor_jsbestpractices.png" alt="sponsor Js best practices" width="300" height="120" />
    </a>

    <a class="banner" href="http://www.phpday.it" title="phpday">
      <img src="/img/sponsors/sponsor_phpday.png" alt="sponsor phpday" />
    </a>

    <a class="banner" href="http://www.ideato.it" title="Ideato">
      <img src="/img/sponsors/sponsor_ideato.jpg" alt="sponsor ideato" />
    </a>

    <!--a class="banner" href="http://qrurl.it/r/1in" title="servergrove">
      <img src="/img/sponsor_servergrove.jpg" alt="sponsor Servergrove" />
    </a-->

    <a class="banner" href="http://www.jsday.it" title="jsday">
      <img src="/img/sponsors/sponsor_jsday.png" alt="sponsor jsday" />
    </a>

  <div class="clear"></div>
  </div>

  </div>
  <div class="separator"></div>
</section>