<a name="info"></a>
<section class="alpha_14">
<div class="container group">

  <div class="column_6 centered">
    <h3 class="center">La conferenza</h3>

    <h4>Rifacciamo un incontro sul tema DevOps !</h4>

<p><strong>Dai ! Dai di nuovo !</strong></p>

<p>Con una formula leggera, che preveda un paio di interventi al mattino,
un paio al pomeriggio e per il resto degli open space, iniziamo a
parlare anche in Italia, di temi legati a:</p>
<ul>
<li>infrastrutture agili,</li>
<li>automazione,</li>
<li>infrastructure as code,</li>
<li>sistemi di monitoraggio moderni.</li>
</ul>

<p>e tutto quanto potrà nascere durante la giornata. Nel frattempo abbiamo
deciso di inglobare fra gli organizzatori:</p>

<p>gli amici del <a href="http://grusp.it">GrUSP</a> (che speriamo partecipino numerosi) che si sono offerti di aiutarci per la comunicazione e la raccolta delle iscrizioni, T3LAB, per l'ospitalità dell'evento.</p>

<p>Se avete delle sessioni da proporre scrivete sulla lista
<a href="mailto:devops-italia@googlegroups.com?subject=DEVOPS proposta">devops-italia@googlegroups.com</a> o direttamente a <a href="mailto:m@biodec.com?subject=DEVOPS proposta">m@biodec.com</a>, che
provvederà poi a girarla alla lista.</p>

	<p>Rimani informato ed <a href="http://eepurl.com/rCZZT" target="_blank">iscriviti alla nostra newsletter</a></p>
  </div>


  <div class="clear"></div>
</div>
<div class="separator"></div>
</section>