<a name="info"></a>
<section class="alpha_14">
<div class="container group">

  <div class="column_6 centered">
    <h3 class="center">La conferenza</h3>

    <p>In seno al <a href="http://www.jsday.it">JsDay</a> nasce la prima giornata dedicata ad AngularJs!</p>

	<p>Con una formula leggera, che prevede talk in italiano di diversa complessità durante la giornata verranno trattati temi interenti allo sviluppo con AngularJs.</p>

	<p>La conferenza è organizzata dal <a href="http://marche.grusp.org">Pug Marche</a> coordinato dal <a href="http://grusp.it">GrUSP</a> </p>

	<p>Rimani informato ed <a href="http://eepurl.com/rCZZT" target="_blank">iscriviti alla nostra newsletter</a></p>
  </div>


  <div class="clear"></div>
</div>
<div class="separator"></div>
</section>