<section class="supporter">
  <a name="sponsor"></a>
  <div class="container group">

<div class="container group">

{% if page.cfs %}

    <div class="column_6 centered">
      <h3 class="center">Sponsorizza</h3>
      <p>Un grande evento è fatto anche di grandi sponsor, perché quindi non sfruttare l'occasione e contribuire alla conferenza?<br>
      <a href="mailto:info@grusp.org">Contattaci</a> per sapere come sponsorizzarci!</p>
    </div>
    <div class="clear"></div>

    <div class="column_6 centered">
      <h4 class="center">Main sponsor</h4>
      <p>Il main sponsor sarà uno solo per conferenza ed avrà la possibilità di avere un banchetto indipendente per pubblicizzarsi</p>
        <span class="euro btn">€ 2500</span>
      <ul class="benefit">
        <li>Banner sul sito</li>
        <li>Pubblicità nelle comunicazioni pre-evento</li>
        <li>Autorizzazione a portare pubblicità e gadget (ie. volantini, adesivi, magliette)</li>
        <li>Presenza logo sul programma stampato</li>
        <li>Posizionamento del vostro roll-up nella sala</li>
        <li>5 biglietti gratuiti</li>
        <li><strong>Banchetto in sala</strong></li>
      </ul>
    </div>
    <div class="clear"></div>

    <div class="column_4">
      <h4 class="gold">Gold</h4>
      <span class="euro btn">€ 1000</span>
      <ul class="benefit">
        <li>Banner sul sito</li>
        <li>Pubblicità nelle comunicazioni pre-evento</li>
        <li>Autorizzazione a portare pubblicità e gadget (ie. volantini, adesivi, magliette)</li>
        <li>Presenza logo sul programma stampato</li>
        <li>Posizionamento del vostro roll-up nella sala</li>
        <li>3 biglietti gratuiti</li>
      </ul>
    </div>

    <div class="column_4">
      <h4 class="silver">Silver</h4>
      <span class="euro btn">€ 500</span>
      <ul class="benefit">
        <li>Banner sul sito</li>
        <li>Pubblicità nelle comunicazioni pre-evento</li>
        <li>Autorizzazione a portare pubblicità e gadget (ie. volantini, adesivi, magliette)</li>
        <li>Presenza logo sul programma stampato</li>
        <li>2 biglietti gratuiti</li>
      </ul>
    </div>

    <div class="column_4">
      <h4 class="bronze">Bronze</h4>
      <span class="euro btn">€ 300</span>
      <ul class="benefit">
        <li>Banner sul sito</li>
        <li>Autorizzazione a portare pubblicità e gadget (ie. volantini, adesivi, magliette)</li>
        <li>1 biglietto gratuito</li>
      </ul>
    </div>

    <div class="clear"></div>
  </div>

{% endif %}

  <h3>Gli Sponsor</h3>

  <div class="gold_supporter">
    <h4 class="gold">Gold</h4>

    <div class="clear"></div>
  </div>

  <div class="silver_supporter">
    <h4 class="silver">Silver</h4>

    <div class="clear"></div>
  </div>

  <div class="bronze_supporter">
    <h4 class="bronze">Bronze</h4>

    <!--a class="banner" href="http://www.jsday.it" title="jsday">
      <img src="/img/supporters/jsday.png" alt="jsday" />
    </a-->

    <!--a class="banner" href="http://www.phpday.it" title="phpday">
      <img src="/img/supporters/phpday.png" alt="phpday" />
    </a-->

  <div class="clear"></div>
  </div>

  <h3>Media Partner</h3>
  <div class="bronze_supporter" id="media-partners" data-tags="{{ site.media_tags }}"></div>

  </div>
  <div class="separator"></div>
</section>
